/* setting margin and padding to 0 to avoid any default */
body{
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-family: 'DM Sans';
    color: white;
}
@font-face {
    font-family: 'DM Sans';
    src: url(DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
    src: url(DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
/* styling the top section which covers the first page */
.top{
    background-image: url(images/top.png); /*setting a background image */
    height: 100vh; /* 100vh height so image can cover page */
    background-color: #2F1893; /* background color to match figma style */
    background-repeat: no-repeat; /* no repeat to make sure image does not repeat */
    background-size: cover; 
    background-position: center; /* centring the image */
}
/* styling the list */
.top ul{
    margin: 0; /* 0 margin to avoid gap */
    padding-top: 55px; /* padding top to get list little down from top */
    display: flex; /* flex to make sure list is in one line */
    justify-content: center; /* centring the list */
    gap: 43px; /* 43 pix gap between each list element */
}
.top ul li{
    list-style-type: none; /* to avoid dots */
}
.top ul li a{
    text-decoration: none; /* to remove underline */
    color:white; /* changing text color */
    font-weight:500;
    font-size: 18px;
}
/* to give gray color to first child */
.top ul li:first-child a{
    color:rgba(255, 255, 255, 0.3);
}
/* center the text on landing page */
.top .text{
    text-align: center;
    width: 50%;
    margin:0 auto;
    padding-top: 80px;
}
.top .text h1{
    font-size: 35px;
}
/* creating paginations */
.top .pagination{
    text-align: center;
    
} 
/* styling paginations */
.top .pagination i{
    font-size: 8px;
    color: white;
}
/* styling first .pagination child */
.top .pagination i:first-child{
    color: white;
}
/* styling button */

.top button{
    border-radius: 25px;
    padding: 10px 30px;
    background-color: #482BE7;
    color: white;
    border: none;
    font-size: 15px;
    display: block;
    margin: 30px auto;
    
}
/* styling content section */
.content {
    background-image: url(images/content.png);
    background-color: #2F1893;
}
/* styling text section */
.content .inner-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 120px 0px;
}
/* styling heading of content section */
.content .inner-content h2{
    font-size: 30px;
    width: 60%;
    margin: 20px auto;
}
/* styling paragraph of content */
.content .inner-content p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}
/* styling features section */
.feature{
    background-image: url(images/features.png);
    background-color: #2F1893;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
}
.feature .inner-feature{
    display: flex;
}
.feature .inner-feature .mockup{
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature .inner-feature .mockup img{
    height: auto;
    width: 100%;
}
.feature .inner-feature .feature-content{
    flex-basis: 55%;
}
.inner-feature-content{
    display: flex;
    gap: 30px;
}
.feature-pagination{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
/* styling the form page */
.form {
    background-image: url(images/form.png);
    background-color: #2F1893;
}
.form .form-inner{
    display: flex;
    padding: 15rem;
}
/* styling heading section of form */
.form .form-inner #formHeading{
    font-size: 25px;
    font-weight: bold;
}
.form .form-inner .button{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #979797;
}
.form .form-inner .button .signup,.form .form-inner .button .login{
    border: none;
     background: white;
     font-size: 10px;
     text-transform: uppercase;
     padding: 20px;
     
}
.form .form-inner .right{
    background-color: white;

}
.form .form-inner .right .form-content{
    display: block;
    margin: 2rem;
}
.form .form-inner .right .form-content input{
    margin: 10px 0px;
    border-radius: 30px;
    padding: 8px 20px;
    border: 1px solid #EBEAED;
}
.form .form-inner .right .form-content button{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: white;
    margin: 10px 0px;
}
.form .form-inner .right .form-content .create-account{
background-color: #25DAC5;
}
.form .form-inner .right .form-content .login-twitter{
background-color: #1DA1F2;
}