/* setting margin and padding to 0 to avoid any default */
@font-face {
    font-family: 'DM Sans';
    src: url(DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
    src: url(DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
body{
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-family: 'DM Sans';
    color: white;
}
/* styling the top section which covers the first page */
.top{
    background-image: url(images/top.png); /*setting a background image */
    height: 100vh; /* 100vh height so image can cover page */
    background-color: #2F1893; /* background color to match figma style */
    background-repeat: no-repeat; /* no repeat to make sure image does not repeat */
    background-size: cover;
    background-position: center; /* centring the image */
}
/* styling the list */
.top ul{
    margin: 0; /* 0 margin to avoid gap */
    padding-top: 85px; /* padding top to get list little down from top */
    display: flex; /* flex to make sure list is in one line */
    justify-content: center; /* centring the list */
    gap: 43px; /* 43 pix gap between each list element */
}
.top ul li{
    list-style-type: none; /* to avoid dots */
}
.top ul li a{
    text-decoration: none; /* to remove underline */
    color:white; /* changing text color */
    font-weight:500;
    font-size: 18px;
}
/* to give gray color to first child */
.top ul li:first-child a{
    color:rgba(255, 255, 255, 0.3);
}
/* center the text on landing page */
.top .text{
    text-align: center;
    width: 50%;
    margin:0 auto;
    padding-top: 142px;
}
.top .text h1{
    font-size: 50px;
}
/* creating paginations */
.top .pagination{
    text-align: center;
    
} 
/* styling paginations */
.top .pagination i{
    font-size: 8px;
    color: white;
}
/* styling first .pagination child */
.top .pagination i:first-child{
    color: white;
}
/* styling button */

.top button{
    border-radius: 25px;
    padding: 10px 30px;
    background-color: #482BE7;
    color: white;
    border: none;
    font-size: 15px;
    display: block;
    margin: 30px auto;
    
}
/* styling content section */
.content {
    background-image: url(images/content.png);
    background-color: #2F1893;
}
/* styling text section */
.content .inner-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 120px 0px;
}
/* styling heading of content section */
.content .inner-content h2{
    font-size: 58px;
    /* width: 41%; */
    margin: 20px auto;
}
/* styling paragraph of content */
.content .inner-content p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
/* styling features section */
.feature{
    background-image: url(images/features.png);
    background-color: #2F1893;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
}
.feature .inner-feature{
    display: flex;
    gap: 5rem;
}
.feature .inner-feature .mockup{
    flex-basis: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature .inner-feature .mockup img{
    height: auto;
    width: 100%;
}
.feature .inner-feature .feature-content{
    flex-basis: 45%;
}
.inner-feature-content{
    display: flex;
    gap: 30px;
    padding-top: 4rem;
}
.feature .inner-feature .feature-content h3{
    font-size: 42px;
}
.feature .inner-feature .feature-content>p{
    font-size: 22px;
}
.feature-pagination{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
/* styling the form page */
.form {
    background-image: url(images/form.png);
    background-color: #2F1893;
}
.form .form-inner{
    display: flex;
    padding: 6rem 15rem;
    gap: 9rem;
    align-items: center;
}
/* styling heading section of form */
.form .form-inner #formHeading{
    font-size: 42px;
    font-weight: bold;
}
/* used flex to give gap around buttons */
.form .form-inner .button{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #979797;
}

/* using white background for form and border radius to give some
good shape*/
.form .form-inner .right{
    background-color: white;
    border-radius: 10px;

}
/* using white background and no border to custom style */
.form .form-inner .right .button .signup,
.form .form-inner .right .button .login{
    border: none;
     background: white;
     font-size: 10px;
     text-transform: uppercase;
     padding: 20px;    
}
/* using this to give margin for input */
.form .form-inner .right .form-content{
    display: block;
    margin: 4.4rem;
}
/* styling input tags and give margin and padding */
.form .form-inner .right .form-content input{
    margin: 10px 0px;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #EBEAED;
}
/* styling buttons of form */
.form .form-inner .right .form-content button{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: white;
    margin: 10px 0px;
}
/* giving color to first button */
.form .form-inner .right .form-content .create-account{
background-color: #25DAC5;
}
/* making a horizontal divider among buttons */
.form .form-inner .right .form-content .gap{
    display: flex; /* to create divider with text */
    flex-flow: row;
    color: #131313;
    opacity: 0.3; /* to blur the line */
    align-items: center;
    gap: 10px; /* giving some gap to line from text */
}
.form .form-inner .right .form-content .gap:before,
.form .form-inner .right .form-content .gap:after{
    content:'';
    border-bottom: 1px solid #131313; /* using border to create line */
    align-items: center; /* alinging items to center */
    flex: 1 1;
    opacity: 0.3;
}
/* giving color to second button */
.form .form-inner .right .form-content .login-twitter{
background-color: #1DA1F2;
margin-bottom: 20px;
}
/* styling clients section */
.clients{
    background-color: #1E0E62;
}
/* giving padding to client section */
.inner-clients{
    padding: 100px 215px;
}
/* using display grid for reviews */
.clients .inner-clients .clients-review{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 1.5rem;
    
}
.clients .inner-clients #clientsHeading{
font-size: 42px;
font-weight: 700;
}   
/* giving flex to inner of review to get image and conent in a row */
.clients .inner-clients .clients-review .review-inner{
    display: flex;
    gap: 30px;
    padding: 35px 25px;
    align-items: flex-start;
    border: 2px solid rgba(255,255,255,0.15);
}
/* styling paragraph of reviews */
.clients .inner-clients .clients-review .review-inner p{
    margin: 0;
    margin-bottom: 2rem;
}
.clients .inner-clients .clients-review .review-inner small{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}
/* styling call to action section */
.call-to-action{
    background: url(images/callToAction.png);
    background-color: #2F1893;
}

.call-to-action .inner-action{
    padding: 100px 315px; /* giving padding to create a gap */
}
/* styling heading section of call to action */
.call-to-action .inner-action .action-heading{
    font-size: 58px;
    font-weight: 700;
    margin: 0 ;
    text-align: center;
}
/* styling paragraph section and using 70% width to make it related to 
 figma design */
.call-to-action .inner-action #actionParagraph{
    font-size: 22px;
    text-align: center;
    width: 70%;
    margin: 20px auto;
/* giving flex display so i can give gap around buttons easily */
}
.call-to-action .inner-action .buttons{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}
/* styling social icon and giving it circle shape */
.call-to-action .inner-action .buttons .social {
background: #EA3223;
font-size: 20px;
padding: 26px;
text-align: center;
border-radius: 50%;
border: none;
color: white;
}
/* styling get to started button */
.call-to-action .inner-action .buttons #getStarted{
    font-size: 20px;
    background: #25DAC5;
    border: none;
    border-radius: 100px;
    padding: 22px 50px;
    color: white;
}
/* styling the showcase section */
.showcase{
    background-color: #2F1893; /* giving background color */
}
.showcase .inner-showcase{
    padding: 100px 190px; /* gap according to figma */

}
.showcase .inner-showcase .showcase-top{
    display: flex; /* flex to get button and text in a row */
    justify-content: space-between; /* arranging them in corners */
}
.showcase .inner-showcase #showcaseHeading{
    font-size: 42px;
    margin: 0;
}
.showcase .inner-showcase .showcase-top #showcaseButton{
    background: none; /* transparent button */
    border: 1px solid gray; 
    border-radius: 30px; /* making border look good */
    padding: 12px 24px; /* space around text */
    color: white;
    font-size: 18px;
}
.showcase .inner-showcase .showcase-gallery{
    display: grid; /* grid to gallery */
    grid-template-columns: auto auto; /* 2 pics in one row */
    gap: 30px;
    margin-top: 50px;
}
.showcase .inner-showcase .showcase-gallery .gallery-inner{
    text-align: center;
    margin-bottom: 20px;
}
.showcase .inner-showcase .showcase-gallery .gallery-inner .image-caption{
    font-size: 14px;
    margin-top: 30px;
} 
/* styling team section*/
.team {
    background-color: #2F1893;
}
.team .inner-team{
    padding: 100px;
    max-width: 50vw;
}
.team .inner-team h1{
    font-size: 42px;
    margin: 0;
}
.team .inner-team #topParagraph{
    font-size: 22px;
}
/* using grid to get team in a row */
.team .inner-team .team-list{
    display: grid;
    grid-template-columns: auto auto auto; /* 3 members in one row */
    justify-content: space-between; /* space between list */
    gap: 60px 0px;
    margin-top: 70px;
}
.team .inner-team .team-list .team-gallery i{
    margin-right: 20px;
}
.contact {
    background-image: url(images/contact.png);
}
.contact .contact-inner .left .contact-details{
    display: flex;
    gap: 10px;
    margin: 44px 0px;
    max-width: 70%;
}
.contact .contact-inner .left .contact-details p{
    margin: 0;
}